<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style2.css">
    <title>Home</title>
</head>
<body>
    <div class="head">

    
        
        <h2>Welcome, User!</h2>
        <h1>Please login or signup to continue</h1>
        <p> <a href="/login">Login</a></p>
    
        <p><a href="/signup">Signup</a></p>
        
        <button type="button" a href="/index">Proceed</button>
        
       
    
    </div> 
</body>
</html>